@model ProductVM

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="border p-3 my-4">
            <input asp-for="Product.Id" hidden></input>
            <div class="row pb-2">
                <h2 class="text-primary">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
                </hr>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Product.Title"> </label>
                <input class="form-control" asp-for="Product.Title" placeholder="Enter Title" />
                <span asp-validation-for="Product.Title" class="text-danger"> </span>
            </div>
    
            <div class="mb-3 row p-1">
                <label asp-for="Product.Description"></label>
                <textarea class="form-control" asp-for="Product.Description" placeholder="Enter Description" > </textarea>
                <span asp-validation-for="Product.Description" class="text-danger"> </span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Product.Author"> </label>
                <input class="form-control" asp-for="Product.Author" placeholder="Enter Author Name" />
                <span asp-validation-for="Product.Author" class="text-danger"> </span>
            </div>

            <div class="mb-3 row p-1">
                <label asp-for="Product.ISBN"></label>
                <input class="form-control" asp-for="Product.ISBN" placeholder="Enter ISBN" />
                <span asp-validation-for="Product.ISBN" class="text-danger"> </span>
            </div>
             <div class="mb-3 row p-1">
                <label asp-for="Product.CategoryId"></label>
                <select class="form-select" asp-for="Product.CategoryId" asp-items="@Model.CategoryList">
                     <option disabled selected>-- Select Category--</option>
                     </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"> </span>
             </div>
            <div class="mb-3 row p-1">
                <label asp-for="Product.ListPrice"> </label>
                <input class="form-control" asp-for="Product.ListPrice" placeholder="Enter Listing Price" />
                <span asp-validation-for="Product.ListPrice" class="text-danger"> </span>
            </div>

            <div class="mb-3 row p-1">
                <label asp-for="Product.Price"></label>
                <input class="form-control" asp-for="Product.Price" placeholder="Enter Price for 1 - 50 Units" />
                <span asp-validation-for="Product.Price" class="text-danger"> </span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Product.Price50"> </label>
                <input class="form-control" asp-for="Product.Price50" placeholder="Enter Price for 50+ Units" />
                <span asp-validation-for="Product.Price50" class="text-danger"> </span>
            </div>

            <div class="mb-3 row p-1">
                <label asp-for="Product.Price100"></label>
                <input class="form-control" asp-for="Product.Price100" placeholder="Enter Price for 100+ Units" />
                <span asp-validation-for="Product.Price100" class="text-danger"> </span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Product.ImageURL"></label>
                <input class="form-control" type="file" name="file" placeholder="Enter Price for 100+ Units" />             
            </div>
            <div class="row">
                @if(Model.Product.Id == 0 || Model.Product.Id == null)
                {
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                }
                else
                {
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Edit</button>
                    </div>
                }
                <div class="col-6 col-md-3">
                    <a asp-controller="Product" asp-action="Index" class="btn btn-secondary border form-control">Back To List</a>
                </div>
            </div>
            
            
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/> 
    }
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: [
                // Core editing features
                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
                // Your account includes a free trial of TinyMCE premium features
                // Try the most popular premium features until Oct 16, 2024:
                ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
        });
    </script>
}
